.join-form{
    background: #fff;
    width: 400px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.join-form h1{
    background-color: #2b82bd;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    text-align: center;
}

.join-form .btn-send{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}