.chat{
    position: relative;
    flex-direction: column;
    display: flex;
    height: 90vh;
    width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #00000042;
}