<main class="container">
    <section class="chat">
        <article class="list-messages">
            <article class="message receive">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ut?</p>
            </article>
            <article class="message send">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ut?</p>
            </article>
        </article>
        <article class="new-message">
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <button class="btn-send">Enviar</button>
        </article>
    </section>
</main>