/**
    Reset styles
 */
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: .4s ease all;
    word-break: break-word;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    overflow-x: hidden;
    background: rgba(31, 107, 160, 0.53);
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{ font-size: 28px }
h2{ font-size: 20px; color: #fff;}

/**
    Helpers
 */

.container{
    padding-left: 50px;
    padding-right: 50px;
}

.w-30{
    width: 30%;
}

/**
    Form styles
 */
.form-control{
    width: 100%;
    padding: 15px 18px;
    border: 1px solid #b3b3b3;
    border-bottom: 2px solid #2b82bd;
    border-radius: 5px;
}

.form-group{
    margin: 20px 30px;
}

.btn{
    padding: 15px 20px;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 20px;
}

.btn-send{
    background-color: #225a83;
    color: #fff;
}

.btn-send:hover{
    background-color: #14344e;
    transform: translateY(-2px);
    box-shadow: 0 5px 5px #00000057;
}